.authentication__header {
    color: white;
    text-align: center;
  }
  
  .card.authentication {
    width: 90%;
    max-width: 25rem;
    margin: 7rem auto;
    text-align: center;
  }

  .authentication h2 {
    color: #2a006e;
  }
  
  .authentication form {
    margin-bottom: 1rem;
  }